@tailwind base;
@tailwind components;
@tailwind utilities;

/* this is antd design ovverright custom code for large screen device  */
.ant-select {
  height: 50px !important;
  display: block !important;
}

.ant-select-selection {
  border-radius: 8px !important;
  outline: none !important;
}

.ant-select-selector {
  border-color: #64748b !important;
}

.ant-select-focused .ant-select-selector {
  border-color: none !important;
  box-shadow: none !important;
}

.ant-select-arrow {
  color: #475569 !important;
}

.ant-select .ant-select-selection-item,
.ant-select .ant-select-selection-placeholder {
  flex: none !important;
}
